aniso8601==2.0.1
click==6.7
configparser==3.5.0
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
passlib==1.7.1
psycopg2==2.7.4
pytz==2018.3
six==1.11.0
SQLAlchemy==1.2.4
Werkzeug==0.14.1
